In [1]:
import numpy as np

In [2]:
import sys
sys.path.append("..")

In [3]:
from descriptor import descriptor
from helpers.picklers import *

In [4]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
df = load_me('../data/pkls/binary_cell_df.pkl')
species = load_me('../data/pkls/binary_species_list.pkl')
df.head()

,material_id,energy,energy_per_atom,band_gap,total_magnetization,a,b,c,alpha,beta,gamma
0,mp-1094392,-33.729253,-5.621542,0.0000,0.0002245,5.806096,5.806096,5.474041,90.000000,90.000000,119.999998
1,mp-1173456,-8.709604,-2.903201,0.5175,2,27.372340,15.803427,12.903445,52.238757,45.000000,30.000002
2,mp-570451,-63.511145,-6.351115,0.0000,6.35e-06,3.610000,7.749636,8.907661,80.282893,78.308931,76.531294
3,mp-999189,-30.972868,-7.743217,0.0000,8.12745,3.602000,3.602000,3.602000,90.000000,90.000000,90.000000
4,mp-979980,-51.244901,-6.405613,0.0000,1.10099,5.421430,5.421423,4.419991,90.000000,90.000000,120.000113

In [6]:
df.iloc[3]

material_id            mp-999189
energy                  -30.9729
energy_per_atom         -7.74322
band_gap                       0
total_magnetization      8.12745
a                          3.602
b                          3.602
c                          3.602
alpha                         90
beta                          90
gamma                         90
Name: 3, dtype: object

In [8]:
descriptor(df.iloc[9128], species[9128])

array([ 2.5       ,  2.44948974,  9.        ,  5.65685425, 40.        ,
       40.        ,  3.925     ,  3.92300905,  4.        ,  3.99968749,
        2.75588767,  2.7558338 ,  2.02069774,  2.02069774])